@font-face {
    font-family: 'Counter-Strike';
    src: url('Counter-StrikeRegular.woff2') format('woff2'),
        url('Counter-StrikeRegular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN';
    src: url('DIN-Black.woff2') format('woff2'),
        url('DIN-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN';
    src: url('DINBold.woff2') format('woff2'),
        url('DINBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN';
    src: url('DIN.woff2') format('woff2'),
        url('DIN.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN';
    src: url('DIN-Medium.woff2') format('woff2'),
        url('DIN-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

